* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: yellowGinger;
  src: url("../fonts/Yellow\ Ginger.ttf");
}

body {
  background-image: url("../images/homepage_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage_text {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background: rgba(14, 53, 75, 0.6);
  color: #b68d22;
}

.homepage_text h1 {
  font-size: 4em;
  font-family: yellowGinger, Helvetica, sans-serif;
  padding-top: 1rem;
}

.text_style {
  font-size: 1.2em;
  line-height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.first_text {
  padding-top: 3rem;
  margin: 0 15px 0 15px;
}

.menu_text {
  margin-top: 1em;
  font-size: 3em;
  border: 1px solid #ffffff;
  width: 70%;
  margin-left: 2rem;
  padding: 10px 10px 10px 10px;
  background-color: #b68d22;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px;
}

.homepage_text a {
  color: rgb(14, 53, 75);
  text-decoration: none;
}

.giftcard_text {
  font-size: 2em;
  margin-top: 1em;
  border: 1px solid #ffffff;
  width: 70%;
  margin-left: 2.4rem;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
  background-color: #b68d22;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px;
}

@media only screen and (min-width: 475px) {
  .menu_text {
    margin-left: 3.5rem;
  }

  .giftcard_text {
    margin-left: 4rem;
  }
}

@media only screen and (min-width: 768px) {
  .menu_text {
    margin-left: 6rem;
  }

  .giftcard_text {
    margin-left: 6.6rem;
  }
}

@media only screen and (min-width: 1024px) {
  .homepage_text {
    width: 40%;
    float: left;
    background: rgba(14, 53, 75, 0.8);
  }

  .menu_text {
    margin-left: 3rem;
  }

  .giftcard_text {
    margin-left: 3.3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .menu_text {
    margin-left: 4.5rem;
  }

  .giftcard_text {
    margin-left: 4.8rem;
  }
}

@media only screen and (min-width: 2560px) {
  .menu_text {
    margin-left: 9rem;
  }

  .giftcard_text {
    margin-left: 9rem;
  }
}
